.banner {
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 223px;
  width: 95%;
  border-radius: 25px;
  display: table;
}

.about {
  margin-bottom: 4.2em;
}

.text-banner-home {
  color: white;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
}

@media only screen and (max-width: 426px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    margin: auto;
  }

  .text-banner-home {
    font-size: 1.2em;
    text-align: left;
    line-height: 24px;
    padding-left: 1em;
    padding-right: 3em;
  }
}
