.footer {
  background-color: black;
  color: white;
  margin-top: 2em;
}

.credits {
  padding-top: 2.5em;
  text-align: center;
  font-size: 0.8em;
  line-height: 3em;
  font-weight: 500;
}

.logo {
  padding-bottom: 0.5em;
}

@media (max-width: 550px) {
  .logo {
    padding-bottom: 0em;
  }
  .logo-footer {
    width: 122px;
    height: 40px;
  }

  .credits {
    padding-top: 1.5em;
    line-height: 2.4em;
  }
  .copyright {
    width: 190px;
    height: 39px;
  }
}
